<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sauce Demo - Full Regression" verbose="1" preserve-order="true">
    <test name="Regression Tests">
        <classes>
            <class name="tests.LoginTests" />
            <class name="tests.ShoppingTests" />
            <class name="tests.EndToEndTests" />
        </classes>
    </test>
</suite>